body{
    background-image: url('Images/Mask\ Group\ 1@2x.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: inline;
  }
.matte{
    top: -5%;
    text-align: center;
    margin-top: 100PX;
    position: relative;
          
}
.sign-in{
  position: absolute;
  text-align: left;
  font-size: 30px;
  top: 10%;
  left: 14%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #FBFCFC;
}
.logo-bar{
  position: absolute;
  margin-left: 57%;
  top: 9%;
  max-width: 25%;
}
.sign-msg{
  position: absolute;
  top: 20%;
  left: 14%;
  max-width: 20%;
  text-align: left;
  font-size: 15px;
  color: #F4F6F7;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
}
.email input{
  position: absolute;
  top: 40%;
  left: 14%;
  border-radius: 6px; 
  width: 18%;
  padding: 10px 10px;
  border-color: inherit;
  text-decoration: none;
  color: #797D7F;
}
.pass input{
  position: absolute;
  top: 46%;
  left: 14%;
  border-radius: 6px; 
  width: 18%;
  padding: 10px 10px;
  border-color: inherit;
  text-decoration: none;
  color: #797D7F;  
}
.save input{
  position: absolute;
  top: 53%;
  left: 14%;
}
.remember {
  display: inline;
  position: absolute;
  top: 51%;
  left: 15.5%;
  color: #F4F6F7;
  text-decoration: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.forget {
  display: inline;
  position: absolute;
  top: 52.5%;
  left: 26%;
  color: #F4F6F7;
  text-decoration: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.log-in input{
  position: absolute;
  top: 57%;
  left: 14%;
  width: 18%;
  padding: 12px 10px;
  background-color: #3B3A3A;
  border-radius: 10px;
  color: #F4F6F7;
  letter-spacing: 2px;
  border-color: none;
}
.sign-up input{
  position: absolute;
  top: 65%;
  left: 14%;
  width: 18%;
  padding: 12px 10px;
  background-color:inherit;
  border-radius: 10px;
  color: #F4F6F7;
  letter-spacing: 2px;
  border-color: #F4F6F7;
}
nav ul{
  max-width: 800px;
  text-align: left;
  /* white-space: nowrap; */
  }

nav li{
display: inline;
padding: 10px;
}
nav li a{
  text-decoration: none;
  color: #F4F6F7;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.intro{
  position: absolute;
  left: 13%;
  top: 84%;
}
footer{
  position: absolute;
  text-align: center;
  left: 40%;
  top: 92%;
  color: #F4F6F7;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}